<html>
    <head>
        <title>Wave Water</title>
        <!--<script src="../script/cadastro.js"></script>"-->   
        <link rel="stylesheet" type="text/css" href="../css/index.css" media="screen" />
        <!--<link rel="stylesheet" type="text/css" href="../css/cadastro.css" media="screen" />-->        
    </head>
    
    <style>
        *{margin:0;padding:0;box-sizing: border-box;}
    </style>

    <body>
        <form>
            <h3>Realizar Login</h3>
            <input type= "text" name="email" placeholder= "Seu email..." />
            <input type= "password" name= "senha" placeholder= "Sua senha..." />
            <input type= "submit" name= "acao" value="Enviar" />
         </form>



    </body>
